
.rabbit_container {
  width: 100%;
  background-color: $rabbit_space;
}
.rabbit_up {
    padding: $rabbit_distance 0;
}
.rabbit_wrapper {
  margin: auto;
  width: 60%;
  border-bottom: 1px solid
 $fontColorMain;
  .rabbit_up h2 {
    display: block;
    margin: auto;
    text-align: center;
    width: 600px;
  }
  .puppet_box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: $rabbit_distance 0;
  }
  .threebox {
    width: 200px;
  }
  .threebox img {
    display: block;
    margin: auto;
    width: auto;
    height: 140px;
    padding-bottom: 20px;
  }
  .threebox p {
    font-size: $fontSize + 0.1;
    text-align: center;
  }
  .rabbit_bottom {
    padding-bottom: $rabbit_distance;
  }
  .rabbit_bottom img {
    height: 300px;
    display: block;
    margin: auto;
  }
}

@media screen and (max-width:'770px'){

    .rabbit_wrapper {
      margin: auto;
      width: 80%;
      border-bottom: 1px solid #58402C;
  }

  .threebox{
    padding-bottom: 30px;
  }

  .rabbit_wrapper .rabbit_up h2 {
    width: 400px;
  }

}
