@mixin button {
  padding: 0px 20px;
  border: 1px solid blue;
  border-radius: 5px;
  color: $fontColorMain;
  text-decoration: none;
}

@mixin link {
  text-decoration: none;
  color: $fontColorMain;
}
